
.DS_Store

FTBLauncherLog.txt

MinecraftLog.txt

Ultimate/minecraft/ForgeModLoader-client-0.log

Ultimate/minecraft/ForgeModLoader-client-0.log.lck

Ultimate/minecraft/ForgeModLoader-client-1.log

Ultimate/minecraft/ForgeModLoader-client-2.log

Ultimate/minecraft/GregTech.log

Ultimate/minecraft/LiteLoader.txt

Ultimate/minecraft/mods/rei_minimap/Block Manufacturing.DIM0.points

Ultimate/minecraft/mods/rei_minimap/Season 1 Title.DIM0.points

Ultimate/minecraft/mods/rei_minimap/Season 1 Title.DIM3.points

Ultimate/minecraft/optifog.log

Ultimate/minecraft/options.txt

Ultimate/minecraft/optionsof.txt

Ultimate/minecraft/saves/ManuFactory/NEI/players/malacosa.dat

Ultimate/minecraft/saves/ManuFactory/level.dat_old

Ultimate/minecraft/saves/ManuFactory/players/malacosa.dat

Ultimate/minecraft/saves/ManuFactory/session.lock

Ultimate/minecraft/stats/player.uid

Ultimate/minecraft/stats/stats_malacosa_unsent.dat

Ultimate/minecraft/stats/stats_malacosa_unsent.old

server.log

dir_to_ignore/

Ultimate/minecraft/saves/NEI/local/Season 1 Title

Ultimate/minecraft/saves/NEI/local/Block Manufacturing

Ultimate/minecraft/saves/Season 1 Title

Ultimate/minecraft/saves/Block Manufacturing
