# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Wed Jun 05 17:50:57 PDT 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
