# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Sun Jun 09 14:02:46 PDT 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
